@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;

}

/* HTML CSS */
body {
    background-color: hsl(217, 54%, 11%);
    /* Very dark blue */
}

hr {

    border: 1px solid hsl(215, 32%, 27%);
    /* Very dark blue */

}

h1 {
    font-size: 24px;
    line-height: 2;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: hsl(215, 51%, 70%);

}

a {
    text-decoration: none;
    color: white;
    transition: all 1.5s ease;
}

a:hover{
    color: cyan;
}

main {
    max-width: 375px;
    border-radius: 16px;
    background-color: hsl(216, 50%, 16%);
    /* Very dark blue */
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 45px 45px;
    display: block;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 15px;
    padding: 25px;


}

span {
    display: flex;
    vertical-align: middle;

}

/* Main CSS */

.text-margin {
    margin: 12px;
}

.img-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

.equilibrium-image {
    max-width: 100%;
    border-radius: 16px;
    height: auto;
}

.icon-hover-container {
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: 16px;
    top: 0;
    bottom: 4px;
    opacity: 0;
    transition: all 1.5s ease;
    background: hsla(178, 100%, 50%, 50%);
    cursor: pointer;
}

.img-container:hover .icon-hover-container {
    opacity: 1;
}

.eye-icon-container {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

}

.hover-icon:hover {
    color: #eee;
}

.price-box {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
    font-size: 16px;

}

.etherium {
    display: inline-block;
    color: cyan;
    font-weight: 600;

}

.etherium img {
    position: relative;
    margin-right: 6px;

}

.time-left {
    color: hsl(215, 51%, 70%);
    /* Soft blue */
    display: inline-block;
    position: relative;
    float: right;
    font-weight: 300;

}

.time-left img {
    position: relative;
    margin-right: 4px;

}

.author {
    font-size: 18px;
    font-weight: 300;
    margin-top: 16px;
    margin-bottom: -16px;
    color: hsl(215, 32%, 27%);
}

.author img {
    display: inline-block;
    font-size: 400;
    margin-right: 8px;
    max-height: 30px;
    border-radius: 50px;
    border: 0.5px solid;
    border-color: white;
}

.author span {
    display: inline-block;
    margin-bottom: 20px;
}

.attribution {
    font-size: 16px;
    text-align: center;
    color : hsl(215, 32%, 27%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.attribution a:hover{
    color: cyan;
}

@media (max-width: 375px) {
    main {
        max-width: 275px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .img-container {
        max-width: 275px;
    }

    p {
        font-size: 16px;
        line-height: 1.5em;
        margin-bottom: 0;
    }

    h2 {
        font-size: 1.3em;
        margin-top: 20px;
    }

    .price-box {
        padding: 15px 3px 10px 3px;
        font-size: 16px;
    }

    .author {
        margin-bottom: 5px;
        font-size: 14px;
    }
}
